[submodule "MemSum"]
	path = MemSum
	url = git@github.com:Siddhant-Ray/MemSum.git

[submodule "LawEcon-MeatNarratives-Project"]
	path = LawEcon-MeatNarratives-Project
	url = git@github.com:Siddhant-Ray/LawEcon-MeatNarratives-Project.git
